{% extends "auctions/layout.html" %}

{% block body %}

    <div class="auction-container">
        <div class="image-container">
            <img class="item-image-listing" src="{{ listing.image.url }}" style="width: 450px;">
            <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                {% if user in listing.watchlist.all %}
                    <button class="watchlist-btn" type="submit">Remove from Watchlist</button>
                {% else %}
                    <button class="watchlist-btn" type="submit">Add to Watchlist</button>
                {% endif %}
            </form>
        </div>
        <div class="details-container">
            <h2 class="title">{{ listing.title }}</h2>
            <p class="description">{{ listing.description }}</p>
            <p class="category">Category: {{ listing.category }}</p>
            <p class="price">Current Bid: ${{ listing.currentbid|floatformat:2 }}</p>
            <p class="date">Created: {{ listing.created_at|date:"F d, Y" }}</p>
            <p class="category user">Listed by: {{ listing.user }}</p>
            <form action="{% url 'comment' listing.id %}" method="POST">
                {% csrf_token %}
                <input id="comment" name="comment" placeholder="Comment..." required>
                <button class="submit-btn" type="submit">Submit</button>
            </form>

            {% if user.is_authenticated %}
                <form action="{% url 'place_bid' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input id="bid" type="number" step="0.01" name="bid" placeholder="Enter your bid">
                    <button class="place-bid" type="submit">Place Bid</button>
                </form>
            {% endif %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <p class="comments-header">Comments:</p>
            {% for comment in listing.comments.all %}
                <p class="comment-text">{{ comment.text }}</p>
                <p class="comment-user">By {{ comment.user }}</p>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}


            {% if request.user == listing.user and listing.status == "Open" %}
                <form action="{% url 'close_auction' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Close Auction</button>
                </form>
            {% endif %}

            {% if you_won %}
                <p style="color: green;">Congratulations! You won this auction.</p>
            {% elif listing.status == "Closed" %}
                <p style="color: red;">This auction is closed.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}
